.HireMe{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(25, 25, 25);
}

p{
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
}

.button{
    border: 0;
    background-color: rgba(252, 32, 80, 0.988);
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 20px;
}

.button:hover{
    background-color: rgb(25, 25, 25);
    border: 1px solid rgba(252, 32, 80, 0.988);
}